<svg
  version="1.1"
  viewBox="0 0 1422 800"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:html="http://www.w3.org/1999/xhtml"
>
  <title>THCA Diamonds</title>
  <defs>
    <html:link rel="shortcut icon" href="diamond.svg"/>
    <html:link rel="stylesheet" href="cover.css"/>
  </defs>
  <image xlink:href="{{ filename }}" transform="scale(-1, 1)" x="-100%" y="0" width="1422" height="800"/>
  <g transform="translate(150, 500)">
    <rect width="1099" height="290" ry="47"/>
    <image x="55%" y="1%" width="21%" xlink:href="diamond.svg"/>
    <text>
      <tspan x="3%" y="15%">2g+ Fat Dub</tspan>
      <tspan x="3%" y="32%">THCA Diamonds</tspan>
    </text>
  </g>
  <image x="1%" y="1%" width="18%" xlink:href="adult%20use.svg"/>
  <image x="20%" y="1%" width="18%" xlink:href="no%20driving.svg"/>
</svg>
