{
  "name": "A Fat Dub of THCA: №{{ count }}",
  "description": "This NFT confers ownership of a small silicone skull with two plus grams of THCA crystals in it.

  The owner has the ability to burn the token at any point & enter the distribution system to take possession.

  Products are to be delivered via a blind bonded courier network.
  ",
  "image": "{{ image }}",
  "animation_url": "https://bafybeiebqgklfjzb5ujdwruj2sm42q6dv4rgi7kayxlrgm7gocy3i247oi.ipfs.w3s.link/Spinbunny.glb",
  "external_url": "https://buy.diamonds.trwb.live"
}