@font-face {
  font-family: "Peace and Love";
  src: url("Peace and Love.ttf");
}


body {
  justify-content: center;
}

header {
  text-align: center;

  /* PostCSS is supposed to allow this, but it's
   * not getting compiled.
   *
  object {
    max-height: 30vh;
    margin: auto;
  }
   */
}

main {
  max-width: 60rem;
  margin: auto;
}

p {
  font-size: 4.25rem;
  text-align: justify;
  font-family: "Peace and Love", Georgia, sans-serif;
  line-height: 3.5rem;
}